{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>{% block title %} League of legend {% endblock %}</h1>
        <details>
            <summary>Problem</summary>
            <p>In League of Legends or LOL competition, many teams need <strong>expert or coach</strong> to <strong>strategically plan</strong> and <strong>analyze</strong> both teams in order to gain <strong>advantages</strong>. The cost of hiring an expert or coach is often very high which many local teams couldn't afford.</p>
        </details> 
        <details>
            <summary>Basline</summary>
            <p>Pick based on the experience, expertise, and knowledge of each player.</p>
        </details>
        <details>
            <summary>Mission</summary>
            <p>Create the system that helps player picking the best champion corresponding to the opponent choices.</p>
        </details>
        <details>
            <summary>Analytic Objective</summary>
            <p>Being the tools (for recomend the counter champion) to suggest a decision in the league of legends competition.</p>
        </details>
        <details>
            <summary>Outcome</summary>
            <p>Building the team that have the most winning potential corresponding to the opponent choices and historical data.</p>
        </details>
        
    </div>
{% endblock %}